<!DOCTYPE HTML>
<html>

<head>
    <title>I Can See My House From Here</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src='../static/index.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script>

    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three/examples/js/controls/TrackballControls.js"></script>
    <script src="//unpkg.com/three-globe"></script>
</head>

<body>
    <h1>
        I Can See My House From Here!
    </h1>

    <label for="house">House:</label><br>
    <input class="location_input" autocomplete="off" type="text" id="house" name="house" value=""><br>
    <label for="here">Here:</label><br>
    <input class="location_input" autocomplete="off" type="text" id="here" name="here" value=""><br><br>
    <button class="submit" id="submit_button">Submit</button>

    <h2 id="result"></h2>

    <div id="globeViz"></div>

  <script>
    const N = 1;
    gData = [...Array(N).keys()].map(() => ({
      lat: 0,
      lng: 0,
      size: 0,
      color: 'red'
    }));

    Globe = new ThreeGlobe()
      .globeImageUrl('//unpkg.com/three-globe/example/img/earth-blue-marble.jpg')
      .bumpImageUrl('//unpkg.com/three-globe/example/img/earth-topology.png')
      .pointsData(gData)
      .pointAltitude('size')
      .pointRadius(0.7)
      .pointColor('color');

    // custom globe material
    const globeMaterial = Globe.globeMaterial();
    globeMaterial.bumpScale = 10;
    new THREE.TextureLoader().load('//unpkg.com/three-globe/example/img/earth-water.png', texture => {
      globeMaterial.specularMap = texture;
      globeMaterial.specular = new THREE.Color('grey');
      globeMaterial.shininess = 15;
    });

    // Setup renderer
    const renderer = new THREE.WebGLRenderer();
    renderer.setSize(window.innerWidth, window.innerHeight);
    document.getElementById('globeViz').appendChild(renderer.domElement);

    // Setup scene
    const scene = new THREE.Scene();
    scene.add(Globe);
    scene.add(new THREE.AmbientLight(0xbbbbbb));
    scene.add(new THREE.DirectionalLight(0xffffff, 0.65));

    // Setup camera
    const camera = new THREE.PerspectiveCamera();
    camera.aspect = window.innerWidth/window.innerHeight;
    camera.updateProjectionMatrix();
    camera.position.z = 500;

    // Add camera controls
    const tbControls = new THREE.TrackballControls(camera, renderer.domElement);
    tbControls.minDistance = 101;
    tbControls.rotateSpeed = 5;
    tbControls.zoomSpeed = 0.8;

    // Kick-off renderer
    (function animate() { // IIFE
      // Frame cycle
      tbControls.update();
      renderer.render(scene, camera);
      requestAnimationFrame(animate);
    })();
  </script>


</body>

</html>